/* @media only screen and (max-width:1200px){
   
}

@media only screen and (max-width:1023px){
   
   
}

@media only screen and (max-width:767px){
   
} */


@media only screen and (max-width:479px) {


    .navigation {
        display: inline-flexbox;
        /* max-width: 100%; */
    }

    .nav-pills {
        display: flex;
        font-size: 1.2rem;
        padding: 1rem;
        text-align: center;

    }

    .container{
        padding-top: 1rem;
    }


