@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');

:root {
    --primary-color: rgb(0, 0, 143);
    --secondary-color: #0156ff;
}

body, html {
    height: 100%;
  }

body{
    margin: 0;
    font-family: 'Stick No Bills', sans-serif;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)),url(/img/triangles.jpg);
    background-size: cover;
    background-position: center ;
    position: relative;
}

/* navbar */
.navigation {
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

.nav-span {
    font-size: 2.5rem;
}

.nav-pills {
    text-align: center;
    font-size: 1.5rem;
}

.navigation .link {
    color: white;
    text-align: left;
}

.link-active {
    font-weight: bold;
}

#triangleBtn{
    margin: 1rem;
    padding: 0.5rem;
    width: 50%;
    display: inline-block;
    margin: auto;
}

.container {
    padding: 1rem;
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    margin: auto;
    color: white;
    font-size: large;
}

input{
    padding: 0.5rem;
    margin: 1rem;
}


#submit-answer-btn{
    padding: 1rem;
    color: black;
}

#hypotenuse-btn{
    padding: 1rem;
    width: auto;
    margin: auto;
    margin-top: 2rem;
}

#area-btn{
    padding: 1rem;
    width: auto;
    margin: auto;
}


/* lists */

.list-nonbullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline-flex;
    padding: 0rem 1rem;
}

.link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
}



/* footers */


.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    height: 4rem;
    margin-bottom:auto ;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-header {
    font-size: large;
    font-weight: bold;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.fa-github:link,
.fa-github:hover {
    color: #495057;
}

.fa-twitter:link,
.fa-twitter:hover {
    color: #1da1f2
}

.fa-linkedin-in:link,
.fa-linkedin-in:hover {
    color: #0a66c2;
}

.fa-instagram:link,
.fa-instagram:hover {
    color: #c32aa3;
}

.fa-snapchat-ghost:link,
.fa-snapchat-ghost:hover {
    color: #fffc00;
}

.footer-icons{
    transition:color 0.2s;
    font-size: 1.5rem;
    padding-top: 1rem;
}

/****FAB ICONS*****/

.fab-icons{
    padding-right: 1rem;
    color: var(--primary-color);
}

